name: CI

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Create SSH private key
        run: echo "${{ secrets.DEPLOY_PRIVATE_KEY }}" > ~/id_rsa && chmod 600 ~/id_rsa
      - name: Secure copy code to host
        run: scp -o StrictHostKeyChecking=no -i ~/id_rsa -pr $GITHUB_WORKSPACE ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }}:~/sites/gorbostudios.com
